// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
}

li a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

li a:hover {
	border: 1px solid black;
}

.row {
	width: 80%;
	text-align: center;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 20%;
}

body {
}

.block {
	width: 25%;
	padding: 20px;
}

.thumb {
	opacity: 1;
	filter: alpha(opacity=100); /*For IE8 and earlier */
}

.thumb:hover {
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9, /* ie8 */
}

a {
	text-decoration: none;
}

.transbox {
	opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
}

.transbox:hover {
	opacity: 1;
	filter: alpha(opacity=100); /*For IE8 and earlier */
}

.btn {
	margin: 10px;
	border: 1px solid black;
}

.clear {
	clear: both;
}
