<ul>
	<li><a href="/"><img src="https://s3-ap-northeast-1.amazonaws.com/brainfreezebucket/brainfreeze.png"></a>
	<li><a href="/uploads/write">Write</a>
	<li><a href="/work">Work</a> 
	<li><a href="/personal">Personal</a>
	<li><a href="/2D">2D</a> 
	<li><a href="/3D">3D</a>
	<li><a href="illustration">Illustration</a>
	<li><a href="/web_design">Web Design</a>
	<li><a href="/brand_identity_design">Brand Identity Design</a>
	<li><a href="/motion_graphics">Motion Graphics</a>
	<li><a href="/photography">Photography</a>
</ul>
